{% load static %}

<!DOCTYPE html>
<html lang={{ html_language }}>
    <head>
        {% include "global/partials/head.html" %}
        <link rel="shortcut icon" href="{% static "global/images/favicon.ico" %}" type="image/x-icon">
        <title>{% block title %}{% endblock title %} Recipes</title>
    </head>

    <body>
        <!-- nav -->
        {% include "global/partials/nav.html" %}

        <!-- header -->
        {% include "global/partials/header.html" %}

        <!-- input of search -->
        {% include "global/partials/search.html" %}

        <!-- main -->
        <main class="main-content-container">
            {% block content %}{% endblock content %}
        </main>

        <!-- pagination -->
        {% include 'global/partials/pagination.html' %}

        <!-- footer -->
        {% include "global/partials/footer.html" %}

        <!-- script -->
        <script src="{% static "global/js/script.js" %}"></script>
    </body>
</html>