{% load i18n %}

<!-- image card -->
{% if recipe.cover %}
    <a href="{% url 'recipes:recipe' recipe.id %}">
        <img class="card-image" src="{{ recipe.cover.url }}" alt="temp image">
    </a>
{% endif %}

<!-- section box-card-info -->
<section class="box-card-info">
    <a href="{% url 'recipes:recipe' recipe.id %}">
        <h2 class="card-title">{{ recipe.title }}</h2>
    </a>
    <div class="card-details">
        <!-- user -->
        {% if recipe.author is not None %}
            {% if recipe.author.profile %}
                <div>
                    <a href="{% url 'authors:profile' recipe.author.profile.id %}">
                        <span class="material-icons card-user-icon">person</span>
                        {% if recipe.author.first_name %}
                            <span class="card-username">{{ recipe.author.first_name }} {{recipe.author.last_name}}</span>
                        {% else %}
                            <span class="card-username">{{ recipe.author.username }}</span>
                        {% endif %}
                    </a>
                </div>
            {% else %}
                <div>
                    <span class="material-icons card-user-icon">person</span>
                    {% if recipe.author.first_name %}
                        <span class="card-username">{{ recipe.author.first_name }} {{recipe.author.last_name}}</span>
                    {% else %}
                        <span class="card-username">{{ recipe.author.username }}</span>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
        <!-- data -->
        <div>
            <span class="material-icons card-calendar-icon">&#xebcc</span>
            <span class="card-date">{{ recipe.created_at|date:"d/m/Y" }} às {{ recipe.created_at|date:"H:i" }}</span>
        </div>
        <!-- group -->
        {% if recipe.category.id %}
            <div>
                <a href="{% url 'recipes:category' recipe.category.id %}" class="flex-details">
                    <span class="material-icons">bookmark</span>
                    <span class="card-group">{{ recipe.category.name }}</span>
                </a>
            </div>
        {% endif %}
        <!-- text -->
        <div class="prev-text-card">
            <p>{{ recipe.description }}</p>
        </div>
    </div>
</section>

<!-- section recipe preparation -->
<section class="box-card-preparation">
    <!-- time of preparation -->
    <div class="card-time-preparation">
        <h3><span class="material-icons">&#xe8b5</span>{% translate 'Preparation' %}</h3>
        <p>{{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}</p>
    </div>
    <!-- portions -->
    <div class="card-portion">
        <h3><span class="material-icons">&#xe552</span>{% translate 'Servings' %}</h3>
        <p>{{ recipe.servings }} {{ recipe.servings_unit }}</p>
    </div>
</section>

{% if recipe_details is not True %}
    <!-- footer card-recipes -->
    <footer class="card-footer">
        <div class="card-footer-details">
            <a href="{% url 'recipes:recipe' recipe.id %}">
                <span class="material-icons">&#xe8f4</span>
                <h4>veja mais...</h4>
            </a>
        </div>
    </footer>
{% endif %}

{% if recipe_description %}
    <div class="card-preparation-steps">
        {% if recipe.preparation_steps_is_html %}
            {{ recipe.preparation_steps|safe }}
        {% else %}
            {{ recipe.preparation_steps }}
        {% endif %}
    </div>
    {% if recipe.tags.all %}
        <p>
            Tags:
            {% for tag in recipe.tags.all %}
                <a href="{% url 'recipes:tag' tag.slug %}">{{ tag.name }}</a>, 
            {% endfor %}
        </p>
    {% endif %}
{% endif %}