{% if recipes.has_other_pages %}
    <div class="pagination-container">
        <div class="pagination-content">
            {% if pagination_range.first_page_out_of_range %}
                <a  class="page-link" href="?page=1">1</a>
                <span class="page-item">...</span>
            {% endif %}

            {% for page in pagination_range.pagination %}
                {% if page == pagination_range.current_page %}
                    <a  class="page-link current-page" href="?page={{ page }}">{{ page }}</a>
                {% else %}
                    <a  class="page-link" href="?page={{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if pagination_range.last_page_out_of_range %}
            <span class="page-item">...</span>
            <a class="page-link" href="?page={{ pagination_range.total_pages }}">{{ pagination_range.total_pages }}</a>
        {% endif %}
        </div>
    </div>
{% endif %}
