<!-- card-container -->
<div class="card-container">
    <img class="card-image" src="https://source.unsplash.com/random/840x600" alt="temp image">

    <!-- section box-card-info -->
    <section class="box-card-info">
        <h2 class="card-title">Lorem ipsum dolor sit amet.</h2>
        <div class="card-details">
            <!-- user -->
            <div>
                <span class="material-icons card-user-icon">person</span>
                <span class="card-username">Guilherme Costa</span>
            </div>
            <!-- data -->
            <div>
                <span class="material-icons card-calendar-icon">&#xebcc</span>
                <span class="card-date">16/10/2021 às 14:35</span>
            </div>
            <!-- group -->
            <div>
                <span class="material-icons">bookmark</span>
                <span class="card-group">Café da manhã</span>
            </div>
            <!-- text -->
            <div class="prev-text-card">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum vitae a accusantium quisquam. Pariatur, officiis?</p>
            </div>
        </div>
    </section>

    <!-- section recipe preparation -->
    <section class="box-card-preparation">
        <!-- time of preparation -->
        <div class="card-time-preparation">
            <h3><span class="material-icons">&#xe8b5</span>Preparo</h3>
            <p>0 Minutos</p>
        </div>
        <!-- portions -->
        <div class="card-portion">
            <h3><span class="material-icons">&#xe552</span>Porções</h3>
            <p>0 Porções</p>
        </div>
    </section>

    <!-- footer card-recipes -->
    <footer class="card-footer">
        <div class="card-footer-details">
            <a href="#">
                <span class="material-icons">&#xe8f4</span>
                <h4>veja mais...</h4>
            </a>
        </div>
    </footer>
</div>
