<div class="form-container center-flex">
    <h1>{{ form_title }}</h1>

    <form class="form" action="{{ form_action }}" method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}

                {% if field.help_text %}
                    <p class="help-text">{{ field.help_text }}</p>
                {% endif %}

                {{ field.errors }}
            </div>
        {% endfor %}
        
        {% if form.errors %}
            <div class="button-container">
                <div class="messages message-error">
                    <p>Existem erros no formulário. Corrija para continuar</p>
                </div>
            </div>
        {% endif %}

        

        <div class="button-container">
            <button type="submit">Send</button>
        </div>
    </form>

    {% include 'global/partials/messages.html' %}

</div>