{% if recipes.has_other_pages %}
    <nav role="pagination" aria-label="Pagination" class="pagination-container">
        <div class="pagination-content">
            {% if pagination_range.first_page_out_of_range %}
                <a  aria-label="Go to page 1" class="page-link" 
                href="?page=1{{ aditional_url }}">1</a>
                <span class="page-item">...</span>
            {% endif %}

            {% for page in pagination_range.pagination %}
                {% if page == pagination_range.current_page %}
                    <a aria-label="Current page {{ page }}" class="page-link current-page" href="?page={{ page }}{{ aditional_url }}">{{ page }}</a>
                {% else %}
                    <a aria-label="Go to page {{ page }}" class="page-link" href="?page={{ page }}{{ aditional_url }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if pagination_range.last_page_out_of_range %}
            <span class="page-item">...</span>
            <a class="page-link"
            aria-label="Go to page {{ pagination_range.total_pages }}"
            href="?page={{ pagination_range.total_pages }}{{ aditional_url }}">{{ pagination_range.total_pages }}
            </a>
        {% endif %}
        </div>
    </nav>
{% endif %}
