{% extends 'global/base.html' %}

{% block title %}Register |{% endblock title %}

{% block content %}

<div class="form-container center-flex">
    <h1>Register</h1>

    <form class="form" action="{% url 'authors:create' %}" method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.help_text }}
            </div>
        {% endfor %}

        {{ field.errors }}

        <div class="button-container">
            <button type="submit">Send</button>
        </div>
    </form>
</div>

{% endblock content %}
