{% extends 'global/base.html' %}

{% block title %}Login |{% endblock title %}

{% block content %}

{% include 'global/partials/form.html' %}

{% if request.user.is_authenticated %}
    <div class="form-container center-flex">
        <p>Você está logado como {{ request.user.username }}</p>
        <form action="{% url 'authors:logout' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ request.user.username }}">
            <button type="submit">Clique aqui para sair</button>
        </form>
    </div>
{% endif %}

{% endblock content %}